* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.principal {
  width: 100%;
  height: 100vh;
  background-color: black;

  
  display: flex;

  /* 1ª forma de centralizar
  
  display: flex;
  align-items: center;
  justify-content: center;
  */
}

.center {
  width: 200px;
  height: 200px;
  background-color: brown;
  margin: auto;

  /* 2ª forma de centralizar
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  */
}
